.bg{
	background-color: #ED4C67;
}
.head-text{
	font-size: 35px;
	font-weight:600;
	color: #fff !important;
}
.menu{
	padding: 30px 0px;
}
.container-fluid{
	background-color: pink;
	border: 1px solid black;
}
.collapse{
	background-color: #B53471;
}

.navbar-toggler{
	color: #fff !important;
}
@media(min-width: 767px){
.visible-xs{
	visibility: hidden;
}
}
.navbar-toggler{
	margin-right: 1rem;
}
.navbar{
	padding:0.5rem 0rem;
}
.navbar-brand{
	margin-left: 1rem;
}